<h2 mat-dialog-title>
  <mat-icon>new_releases</mat-icon>
  {{ 'changelog.title' | translate }}
</h2>

<mat-dialog-content>
  @if (latestRelease) {
    <div class="latest-release">
      <div class="release-header">
        <span class="version-badge">v{{ latestRelease.version }}</span>
        @if (latestRelease.date) {
          <span class="release-date">{{ latestRelease.date }}</span>
        }
      </div>
      <ul class="change-list">
        @for (item of latestRelease.items; track item) {
          <li [innerHTML]="item"></li>
        }
      </ul>
    </div>
  }

  @if (unreleasedEntry && unreleasedEntry.items.length > 0) {
    <mat-expansion-panel class="unreleased-panel" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>upcoming</mat-icon>
          {{ 'changelog.unreleased' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="change-list">
        @for (item of unreleasedEntry.items; track item) {
          <li [innerHTML]="item"></li>
        }
      </ul>
    </mat-expansion-panel>
  }

  @if (olderReleases.length > 0) {
    <mat-expansion-panel class="history-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>history</mat-icon>
          {{ 'changelog.fullChangelog' | translate: { count: olderReleases.length } }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      @for (release of olderReleases; track release.version) {
        <div class="history-release">
          <div class="release-header">
            <span class="version-badge version-badge--small">v{{ release.version }}</span>
            @if (release.date) {
              <span class="release-date">{{ release.date }}</span>
            }
          </div>
          <ul class="change-list">
            @for (item of release.items; track item) {
              <li [innerHTML]="item"></li>
            }
          </ul>
        </div>
      }
    </mat-expansion-panel>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="accent" (click)="close()">{{ 'changelog.understood' | translate }}</button>
</mat-dialog-actions>
