LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_DBNAME=stickermap
DB_USER=user
DB_PASSWORD=password
UPLOAD_DIR=uploads

# Keycloak Configuration
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=stickermap
KEYCLOAK_CLIENT_ID=stickermap-client
KEYCLOAK_CLIENT_SECRET=clientsecret
