<h2 mat-dialog-title>
  <mat-icon>policy</mat-icon>
  {{ 'disclaimer.title' | translate }}
</h2>

<mat-dialog-content>
  <p class="intro">{{ 'disclaimer.intro' | translate }}</p>

  <ul class="disclaimer-list">
    <li>
      <mat-icon class="list-icon">photo_camera_off</mat-icon>
      <span [innerHTML]="'disclaimer.rule1' | translate"></span>
    </li>
    <li>
      <mat-icon class="list-icon">block</mat-icon>
      <span [innerHTML]="'disclaimer.rule2' | translate"></span>
    </li>
    <li>
      <mat-icon class="list-icon">gavel</mat-icon>
      <span [innerHTML]="'disclaimer.rule3' | translate"></span>
    </li>
    <li>
      <mat-icon class="list-icon">face</mat-icon>
      <span [innerHTML]="'disclaimer.rule4' | translate"></span>
    </li>
    <li>
      <mat-icon class="list-icon">copyright</mat-icon>
      <span [innerHTML]="'disclaimer.rule5' | translate"></span>
    </li>
    <li>
      <mat-icon class="list-icon">location_off</mat-icon>
      <span [innerHTML]="'disclaimer.rule6' | translate"></span>
    </li>
  </ul>

  <p class="footer-note">{{ 'disclaimer.footer' | translate }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="decline()">{{ 'common.cancel' | translate }}</button>
  <button mat-flat-button color="accent" (click)="accept()">{{ 'disclaimer.accept' | translate }}</button>
</mat-dialog-actions>
